
.data-inicio-container {
    max-width: 1142px;
    padding: 40px 20px;
    margin: auto;
}

.data-inicio-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.descricao-formacao a {
    color: #4a9b8e;
    text-decoration: none;
    font-weight: 500;
}

.descricao-formacao a:hover {
    text-decoration: underline;
    color: #006969;
}

.icone-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.conteudo-texto{
    padding: 20px;
    height: 100%;
    border-left: 2px solid #024248;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.icone-container img{
    width: 100%;
    object-fit: inherit;
    height: auto;
}

.icone-container p{
    text-align: center;
    margin: 0;
}

.titulo-formacao{
    font-size: 25px;
    color: #024248;
    margin-bottom: 10px;
}

.cta-destaque-links-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsivo */
@media (max-width: 768px) {
    .data-inicio-container {
        padding: 30px 15px;
    }

    .conteudo-texto{
        padding: 20px;
        height: 100%;
        border-left: 2px solid #024248;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .conteudo-texto p{
        text-align: left;
    }

    .data-inicio-container p {
        text-align: center;
    }
    
    .data-inicio-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .icone-container {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        padding:5px;
    }
    
    .titulo-formacao {
        font-size: 2rem;
        text-align: left;
        line-height: 110%;
    }
    
    .descricao-formacao p{
        font-size: 1rem;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .data-inicio-container {
        padding: 25px 15px;
    }
    
    .icone-container {
        width: auto;
        height: auto;
    }
    
    .icone-personalizado {
        width: 45px;
        height: 45px;
    }
    
    .titulo-formacao {
        font-size: 1.8rem;
    }
    
    .descricao-formacao {
        font-size: 0.95rem;
    }
}