.module-heading {
    font-size: 24px;
    font-weight: 600;
    color: #024248;
    margin: 0;
}

.course-structure {
    max-width: 1142px;
    margin: 0 auto;
    padding: 120px 0px;
}

.padding-100 {
    padding:0;
    width: 100%;
}

.icon-title-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.icon-title-container h2 {
    font-size: 40px;
    font-weight: 500;
    color: #024248;
    margin: 0;
}

.modules-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.accordion-item-v2 {
    border-bottom: 1px solid #C8D1E0;
    border-radius: 12px;
    overflow: hidden;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
}

.accordion-header-v2 {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-header-v2:hover {
    background-color: #F1F3F5;
}

.accordion-item-v2.active .accordion-header-v2 {
    background-color: #024248;
}

.accordion-item-v2.active .accordion-header-v2 h3 {
    color: white;
}

.accordion-item-v2.active .toggle-icon {
    color: white;
}

.accordion-header-v2 h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #024248;
}

.toggle-icon {
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s ease;
    color: #024248;
}

.accordion-item-v2.active .toggle-icon {
    transform: rotate(45deg);
}

.accordion-content {
    display: none;
    padding: 15px 20px;
    background-color: #f9f9f9;
}

.accordion-item-v2.active .accordion-content {
    display: block;
}

.module-description {
    margin-top: 0;
    margin-bottom: 10px;
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
}

.accordion-content ul {
    margin: 0;
    padding-left: 20px;
}

.accordion-content li {
    margin-bottom: 5px;
    color: #666666;
}

@media (max-width: 768px) {
    .modules-grid {
        grid-template-columns: 1fr;
    }
    
    .accordion-header-v2 h3 {
        font-size: 16px;
    }

    .course-structure {
        padding: 90px 0px;
    }
}