body {
    font-family: "Georama", serif;
    color: #434A54;
}

body p {
    color: #434A54;
    word-wrap: break-word;
}

a{
    cursor: pointer;
}

body a:hover {
    color: #006969;
}

.content-richtext h4{
    color: #024248;
}

.container-medium{
    width: 100%;
    margin: auto;
    max-width: 1142px;
}

.section-card h1, h2, h3, h4, h5, h6 {
    color: #024248;
}

bold{
    font-weight: 500;
    color: #024248;
}

.padding-global{
    width: 100%;
    padding: 0px 60px;
}

.padding-horizontal-small{
    padding: 90px 0;
}

.padding-horizontal-medium{
    padding: 120px 0;
}

.bg-white {
    background-color: #ffffff;
  }
  
.bg-blue {
    background-color: #EBEFF5;
  }
  
  .section-card.bg-gray {
    background-color: #F5F7FA;
  }


  .bg-darkgreen {
    background-color: #012124;
    color: white;
}

.bg-darkgreen p{
    color: white;
}

/* Se você precisar de estilos específicos para elementos dentro dessa seção */
.bg-darkgreen h1, 
.bg-darkgreen h2, 
.bg-darkgreen h3, 
.bg-darkgreen h4, 
.bg-darkgreen h5, 
.bg-darkgreen h6 {
    color: white;
}

.bg-darkgreen a {
    color: #8ECDF4;  /* Uma cor de destaque para links, ajuste conforme necessário */
}

.bg-darkgreen a:hover {
    color: #B2E0FB;  /* Cor de hover para links */
}

@media (max-width: 768px){
    .padding-mobile{
        margin-top: 110px;
    }
}





