    /* Estilos comuns para ambos os tipos de botões */
    .btn-group button {
        padding: 12px 24px;
        cursor: pointer;
        float: left;
        transition: background-color 0.3s, color 0.3s;
        display: flex;
        align-items: center;
    }

    .btn-group .left {
        border-radius: 45px 0 0 45px;
    }

    .btn-group .right {
        border-radius: 0 45px 45px 0;
    }
    
    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }
    
    .btn-group button:not(:last-child) {
        border-right: none;
    }
    
    /* Estilo SOLID */
    .btn-group-solid button {
        background-color: #007D7A;
        border: 1px solid #007D7A;
        color: white;
    }
    
    .btn-group-solid button:hover,
    .btn-group-solid button:active {
        background-color: #006969;
    }
    
    /* Estilo OUTLINE */
    .btn-group-outline button {
        background-color: white;
        border: 1px solid #007D7A;
        color: #007D7A;
    }
    
    .btn-group-outline button:hover,
    .btn-group-outline button:active {
        background-color: #006969;
        color: white;
    }