.navbar-component {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.3s ease;
}

.navbar-component.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-image {
    height: 40px;
    width: auto;
    object-fit: contain;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    margin-right: 1.5rem;
}

.nav-link-nav{
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    width: 100%;
    min-width: 100%;
    font-size: 14px;
    position: relative;
    transition: color 0.3s ease;
    font-weight: 400;
}

.nav-link-nav:hover {
    color: white;
    background-color: #006969;
}

.nav-link-nav:focus {
    color: white !important;
}


.btn-component {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}


.btn-icon {
    margin-left: 0.5rem;
}

.mobile-menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.mobile-nav-links {
    display: none;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border-top: 1px solid #eee;
}

.mobile-nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
}

.mobile-nav-link.featured {
    font-weight: 700;
}

.mobile-nav-portal {
    color: white;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: 4px;
    font-weight: 600;
}

.mobile-nav-links.show {
    display: flex;
}

/* Responsive design */
@media (max-width: 1024px) {
    .nav-links {
        display: none;
    }
    
    .mobile-menu-btn {
        display: block;
    }
}

@media (max-width: 768px) {
    .btn {
        display: ;
    }
}