.wizard {
    background: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    font-size: 21px;
}
.step {
    font-size: 21px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #007D7A;
    color: #007D7A;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
    position: relative;
    z-index: 1;
}
.step.active {
    background: #025257;
    border: 2px solid #025257;
    color: white;
    border-radius: 45px;
    padding: 0;
}

.step-text active {
    background-color: white;
}
.step.completed {
    background: white; 
    border: 2px solid #007D7A;
    color: #007D7A; 
}
.line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 0.3px;
    background: #007D7A;
    z-index: 0;
}
.line::before {
    content: '';
    position: absolute;
    left: calc(30px / 2 - 1px);
    right: calc(30px / 2 - 1px);
    top: -1.5px;
    height: 2px;
    background: #007D7A;
}
.step-text {
    display: none;
}
.step-text.active {
    display: block;
    background-color: white;
}
.wizard button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007D7A;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.inactive {
    color: #9ACDCB;
    border: 2px solid #9ACDCB;
}