.test-output {
    background: #dfdfdf;  /* Cisco-UI-Kit "Light Gray 3" */
    height: calc(100% - 85px);
    overflow-y: scroll;
}

.test-output pre {
    background: #fff;
    padding: 5px;
    margin: 10px;
    overflow-x: auto;
    border: 1px solid #049fd9;  /* Cisco-UI-Kit "Cisco Blue" */
    /* Improve contrast over Cisco-UI-Kit defaults */
    color: #000;
}
/*.chosen-container chosen-container-multi {
    width: -webkit-fill-available;"
}*/
