  .banner {
    height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-94deg, rgba(3, 66, 72, 0) 20%, rgba(2, 66, 72, 0.4) 60%);
    z-index: 1;
}


.banner__content {
    position: relative;
    z-index: 2;
}

  .banner-logo-bannner {
    max-height: 100px;
    width: auto;
    object-fit: contain;
  }

  .banner__content {
    max-width: 1142px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    height: 100%;
  }

  .wrapper-texts-banner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .wrapper-texts-banner p{
    color: white;
    font-size: 20px;
  }

  .grafismo {
    width: 63px;
    height: 34px;
  }

  .banner__title {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    line-height: 110%;
  }

  .banner__description{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 0;
  }

  .banner-titulo h1{
    color: white;
    font-size: 2rem;
  }

  .banner__description p {
    color: white;
  }

  @media (max-width: 768px) {
    .banner__content {
      padding: 20rem 1rem;
    }

    .banner__title {
      font-size: 32px;
    }

    .banner__description {
      font-size: 16px;
    }

    .wrapper-texts-banner {
      max-width: 85%;
    }
  
}