.custom-carousel {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.custom-carousel-slides {
    position: relative;
    width: 100%;
    height: 100vh;
}

.custom-carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.custom-carousel-slide.is-active {
    opacity: 1;
    display: block;
}

.custom-carousel-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.custom-slide-content {
    position: relative;
    max-width: 1142px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    height: 100%;
    color: white;
}

.custom-slide-left-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-width: 40%;
    gap: 20px;
    padding-left: 115px;
}

.custom-slide-center-content {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 70%;
    gap: 20px;
}

.custom-slide-title {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.custom-slide-description {
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.custom-slide-graphic {
    width: 63px;
    height: 34px;
    margin-bottom: 20px;
}

.custom-carousel-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 20;
}

.custom-carousel-navigation-button {
    color: #939393;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}

.custom-carousel-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 20;
}

.custom-carousel-dot {
    width: 40px;
    height: 12px;
    border-radius: 32px;
    background: rgba(255,255,255,0.5);
    margin: 0 5px;
    cursor: pointer;
}

.custom-carousel-dot.is-active {
    width: 40px;
    height: 12px;
    border-radius: 32px;
    background: white;
    max-height: 12px;
}

/* Responsividade */
@media only screen and (max-width: 768px) {
    .custom-slide-left-content {
        max-width: 100%;
        padding-left: 60px;
    }
    
    .custom-slide-title {
        font-size: 36px;
    }

    .custom-slide-description {
        font-size: 20px; 
    }
}

@media only screen and (max-width: 480px) {
    .custom-slide-title {
        font-size: 28px; 
    }

    .custom-slide-description {
        font-size: 16px; 
    }
}