.fa-solid.disabled {
    color: #C8D1E0;
    cursor: not-allowed;
}

.wrapper-icon-pagination {
    display: flex;
    gap: 32px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 40px 0;
}

.wrapper-icon-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-icon-pagination a {
    text-decoration: none;
    cursor: pointer;
}

.wrapper-two {
    display: flex;
    gap: 2px;
    cursor: pointer;
}

.wrapper-two.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.link-pagination {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007D7A;
    float: left;
    border-radius: 32px;
    text-decoration: none;
    transition: background-color .3s;
    height: 32px;
    width: 32px;
    font-size: 16px;
}

.link-pagination:hover {
    background-color: #EBEFF5;
}

.link-pagination.active {
    background-color: #007D7A;
    color: white;
}