/* Service Card Grid */
.service-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
    max-width: 1142px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 40px;
}

@media (max-width: 640px) {
    .service-card-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0 20px;
    }
}

@media (min-width: 1024px) {
    .service-card-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* Service Card */
.service-card-two {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card-two:hover {
    text-decoration: underline;
    color: #2D6A6E;
}

/* Container da imagem para controlar o overflow */
.service-card-two__image-container {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.service-card-two__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
    object-position: top;
}

/* Efeito de zoom na imagem ao passar o mouse */
.service-card-two:hover .service-card-two__image {
    transform: scale(1.1);
}

.service-card-two__content {
    padding: 5px 0;
    flex: 1;
}

.service-card-two__title {
    color: #00777D; 
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
    line-height: 1.2;
}

.service-card-two__title-large {
    color: #00777D; 
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 10px;
    line-height: 1.2;
}

.service-card-two__description p{
    color: #58606E;
    font-size: 18px;
    line-height: 1.6;
}

.service-card-two__link {
    text-align: left;
    color: #2D6A6E;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-card-two__link:hover {
    text-decoration: underline;
    color: #006969;
}