.alert-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert-modal-content {
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    position: relative;
    max-width: 500px;
    width: 90%;
}

.alert-box {
    padding: 34px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 22px;
    flex-direction: column;
}

/* Cores automáticas baseadas no tipo */
.alert-box.success {
    background-color: #E3FAE8;
}

.alert-box.error {
    background-color: #FDE7EC;
}

.alert-box.warning {
    background-color: #FCF6DE;
}

.alert-box.info {
    background-color: #E6EFFA;
}

.material-symbols-outlined {
    font-size: 75px;
}

/* Cores dos ícones baseadas no tipo */
.material-symbols-outlined.success {
    color: #168821;
    font-size: 75px;
}

.material-symbols-outlined.error {
    color: #DF3E63;
    font-size: 75px;
}

.material-symbols-outlined.warning {
    color: #DEAE00;
    font-size: 75px;
}

.material-symbols-outlined.info {
    color: #155BCB;
    font-size: 75px;
}

.alert-button {
    padding: 10px 44px;
    border: none;
    background-color: #007D7A;
    color: white;
    border-radius: 32px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.alert-button:hover {
    background-color: #00796b;
}