.breadcrumb {
    margin: 0px;
    padding: 5px 0px 15px 0px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumbs-li{
    padding: 0;
}

.dark-breadcrumb {
    background-color: #333840;
}

.text-local-breadcrumbs {
    font-size: 14px;
    font-weight: 700;
    color: #333840;
    text-decoration: none;
    padding: 0;
}

.material-symbols-outlined {
    color: #007D7A;
    font-size: 14px;
    margin-right: 10px;
}

.link-breadcrumbs {
    display: inline;
    font-size: 14px;
    color: #333840;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.white {
    color: #EBEFF5;
}

.white:hover {
    color: #EBEFF5;
}

.text-local-breadcrumbs.white {
    color: #EBEFF5;
}

.material-symbols-outlined.white {
    color: #30BFBC;
}

li a:hover {
    color: #333840;
    text-decoration: none;
}