/*
SEE COPYRIGHT, LICENCE, and DOCUMENTATION NOTICES: files
README-COPYRIGHT-utf8.txt, README-LICENCE-utf8.txt, and README-DOCUMENTATION-utf8.txt
at project source root.
*/

body {
    background-color: LightGray;
    font-family: sans-serif, monospace;
    font-size: 12pt;
}

h2 {
    font-size: 24pt;
    color: Brown;
}
h3 {
    font-size: 20pt;
    color: Chocolate;
}
h4 {
    font-size: 16pt;
    color: DarkMagenta;
}

th, td {
    vertical-align: middle;
}

figcaption {
    color: Sienna;
}

button {
    font-size: 12pt;
}


.h_centered {
  max-width: 72em;
  margin: auto;
}

.align_center {
    text-align: center;
}

.field_error {
    font-weight:bold;
    color: Crimson;
}


.two_columns {
  display: inline-grid;
  grid-template-columns: auto auto;
}
