
.video-bg{
    position: absolute; top: 0; left: 0; width: 100%; height: 100vh; object-fit: cover;
}

.ouvidoria{
    border-top: 1px solid #e5e5e5;
    padding-bottom: 100px!important;
}

.ouvidoria .title {
    text-align: center;
    margin: 0 0 24px;
    color: #0c326f;
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 1.5;
}

.title-header{
    text-align: center;
    font-size: 1.4375rem;
    margin: 0 0 24px;
    color: #333;
    font-weight: 400;
}

.cards {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card-item {
    width: 300px;
    flex: 0 0 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 230px;
    background-color: #ededed;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    color: #1351b4;
    font-weight: 500;
    padding: 4px;
    text-decoration: none;
}

.card-item span {
    font-size: 50px;
    color: #0c326f;
    font-weight: 900;
    margin-bottom: 30px;
}

.card-item .title {
    font-size: 20px;
    color: #0c326f;
    font-weight: 600;
    text-transform: uppercase;
}

.canais-atendimento {
    margin-top: 60px;
}

.search-container {
    display: none; /* Inicialmente oculto */
    transition: opacity 0.5s ease;
}

.search-container.visible {
    display: flex; /* Torna visível quando a classe 'visible' é adicionada */
}

.menu {
    background-color: #071E41;
    color: white;
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1142px;
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
}
.menu a:hover {
    background-color: #004494;
}
.separator {
    height: 20px;
    width: 1px;
    background-color: white;
    margin: 0 10px;
}
.logo {
    margin-right: auto;
    width: 51px;
    height: 18px;
}

.container-medium{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1142px;
    margin: auto;
}

.wrapper-text-search{
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
    
}

.container-hero{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 50px;
    z-index: 2;
}

.wrapperherov2{
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.column-listv2{
    max-width: 1142px;
    margin: auto;
    color: #007D7A;
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px  1fr;
}

.topicos-liv2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
}

.grid-separator {
    background-color: #8E99AB;
    height: 37px;
    width: 1px;
    margin: auto;
}

.wrapper-menu-herov2{
    overflow: hidden;
    width: 100%;
    background-color: #FFFFFF;
    height: 80px;
    max-height: 80px;
    color: #007D7A;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(51, 56, 64, 0.15);
    display: flex;
    align-items: center;
}


.wrapper-big-numbers-v2{
    margin: auto;
    max-width: 1142px;
    height: 296px;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center; /* Alinha os itens verticalmente ao centro */

}

.h2-title{
    font-size: 40px;
    font-weight: 400;
    color: #024248;
    line-height: 130%;
}

.title-dinamico{
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    color: #024248;
}

.span-bold{
    font-weight: 700;
}

.big-numbers{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px; 
    border-radius: 10px;
}

.big-number{
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.h2-numbers{
    color: #025257;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.span-numbers{
    color: #58606E;
    font-size: 27px;
    font-weight: 400;
    text-align: center;
}

.frase-numbers{
    margin: 0;
    color: #434A54;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 120%;
}


.card-dinamico{
    background-color: #EBEFF5;
    padding: 46px 0 46px 0;
}

.card-dinamico__content{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    background-color: white;
    max-width: 1142px;
    margin: auto;
    border-radius: 20px;
    padding: 30px 90px;
}

.grid-two-hero{  
    display: grid; 
    grid-template-columns: 1fr 1fr;
    color: white;
    max-width: 1142px;
    margin: auto;
}

.wrapper-texts-holofotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 80%;
}

.h3-white{
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

.h4-white{
    font-weight: 300;
    text-align: left;
    margin: 0;
}

.wrapper-cards-holofotes{
    max-width: 100%;
    overflow: hidden;
}

.dynamic-cards{
    background-color: white;
    padding: 90px 0 90px 0;
    color: #434A54; 
}

.section-noticias{
    background-color: white;
}

.section-cursos{
    padding: 90px 0 90px 0;
    overflow: hidden;
}

.cursos{
    padding: 90px 0 90px 0;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}

nav li:hover > ul {
    display: block;
}

.search-container-hero {
    padding: 4px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    position: relative;
    width: 646px;
    height: 48px;
    background-color: white;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 60px;
}

.search-input:focus {
    color: black;
}

.clear-button {
    position: absolute;
    right: 40px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: #707A8B;
    margin-right: 80px;
    display: none;
}

.icons {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #023236;
    width: 102px;
    height: 100%;
    border-radius: 60px;
    gap: 24px;
}

.border6px{
    border-radius: 6px;
}

.menu-liv2{
    height: 80px;
    display: flex;
    text-decoration: none;
    color: #007D7A;
}

.menu-liv2:hover{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #EBEFF5;
    color: #006969;
}

.menu-liv2:active{
    background-color: #dee3de;
}

.btn-cta{
    background-color: #007D7A; width: 100%; height: 60px; color: white; border-radius: 32px; border: none; font-size: 20px; margin-top: 46px;
}

.btn-cta:hover{
    background-color: #006969;
}

.btn-cta:active{
    background-color:#025257 ;
}

@media (max-width: 1000px){
    .search-container.visible {
        width: 100%;
    }

    .navbar .search-container {
        width: 100%;
        max-width: 94%;
    }
}

@media (max-width: 768px){
    .search-input {
        font-size: 12px;
    }

    .card-dinamico__text{
        max-width: 100%;
        width: 83vw;
    }
    .card-dinamico__content-image{
        max-width: 100%;
        width: 83vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
        .big-numbers{
        grid-template-columns: 1fr;
    }

    .search-container-hero {
        padding: 4px;
        border-radius: 60px;
        display: flex;
        align-items: center;
        position: relative;
        width: 90vw;
        height: 48px;
        background-color: white;
    }

    .container-hero{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        gap: 30px;
    }
    
    .wrapperherov2{
        width: 100vw;
        height: 80vh;
        position: relative;
        overflow: visible;
        display: flex;
        align-items: center;
    }

    .card-dinamico{
        padding: 40px 1rem;
    }

    .card-dinamico__content{
        display: grid; 
        grid-template-columns: 1fr;
        padding: 15px;
        align-items: center;
        background-color: white;
        max-width: 90vw;
        margin: auto;
        border-radius: 20px;
    }

    .wrapper-big-numbers {
        grid-template-columns: 1fr; 
        padding: 20px;
        max-width: 80vw;
        margin: 2rem auto;
    }

    .h2-title {
        font-size: 32px; 
        text-align: center;
    }

    .big-numbers {
        grid-template-columns: 1fr; 
        gap: 48px;
    }

    .h2-numbers {
        font-size: 35px; 
    }

    .span-numbers {
        font-size: 24px; 
    }

    .menu {
        overflow-x: auto;
        white-space: nowrap;
        height: 40px;
        padding-left: 10px;
    }

    .frase-numbers {
        font-size: 20px;
        margin: 0;
    }

    .wrapper-menu-hero{
        margin: auto;
    }

    .wrapper-texts-holofotes{
        width: 100%;
    }

    .h3-white{
        font-size: 32px;
    }

    .title-dinamico{
        font-size: 32px;
    }

    .img-fluid {
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;
    }

    .grid-two-hero{  
        display: grid; 
        grid-template-columns: 1fr;
        color: white;
        padding: 15px;
        margin: auto;
    }

    .search-container-hero {
        padding: 4px;
        border-radius: 60px;
        display: flex;
        align-items: center;
        position: relative;
        width: 90vw;
        height: 48px;
        background-color: white;
    }

    .wrapper-menu-herov2{
        overflow: visible;
        position: relative;
        bottom: 190px;
        width: 100%;
        background-color: transparent;
        height: 80px;
        color: #007D7A;
        z-index: 999;
    }

    .menu-liv2{
        height: auto;
        width: 100%;
        display: flex;
        align-content: space-between;
    }

    .column-listv2{
        margin: auto;
        font-size: 16px;
        list-style-type: none;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        background-color: white;
        border-radius: 20px;
        width: 90vw;
        height: 350px;
        color: #007D7A;
        
    }

    .grid-separator {
        background-color: #8E99AB;
        height: 1px;
        width: 100%;
    }
    
    .wrapper-text-search{
        margin-top: 40px;
        line-height: 120%;
    }

    .quadro-azul{
        margin-top: -100px;
        height: 305px;
        width: 100%;
        background-color: #EBEFF5;
    }

    .video-bg{
        position: absolute; top: 0; left: 0; width: 100%; height: 80vh; object-fit: cover;
    }

    .topicos-liv2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 10px;
        font-weight: 400;
    }


    .wrapper-big-numbers-v2{
        margin: auto;
        max-width: 1142px;
        height: auto;
        padding: 90px 0 ;
        gap: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center; /* Alinha os itens verticalmente ao centro */
    }
}
