.padding-global {
    width: 100%;
    padding: 0 2rem;
}

.container-medium {

    max-width: 1200px;
    margin: 0 auto;
}

.col-01 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}

.title-green-large {
    font-size: 40px;
    font-weight: 700;
    color: #D6F9F8;
    margin: 0;
}

.paragraph-white-medium {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
}

.bg-green-60 {
    background-color: #006969;
    padding: 60px 0;
}

.grid-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 25px;
}

.grid-three > :first-child {
    grid-column: 1 / -1;
}

.module {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0px;
    border-top: 4px solid #30BFBC;
}

.title-white-small {
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .title-green-large {
        font-size: 36px;
    }

    .paragraph-white-medium {
        font-size: 18px;
    }

    .title-white-small {
        font-size: 26px;
    }

    .bg-green-60 {
        padding: 50px 0;
    }

    .grid-three {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .grid-three {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .title-green-large {
        font-size: 32px;
    }

    .paragraph-white-medium {
        font-size: 16px;
    }

    .title-white-small {
        font-size: 24px;
    }
}

@media screen and (max-width: 576px) {
    .padding-global {
        padding: 0;
    }

    .grid-three {
        grid-template-columns: 1fr;
    }

    .title-green-large {
        font-size: 28px;
    }

    .paragraph-white-medium {
        font-size: 16px;
    }

    .title-white-small {
        font-size: 22px;
    }
}

@media screen and (max-width: 375px) {
    .title-green-large {
        font-size: 26px;
    }

    .paragraph-white-medium {
        font-size: 15px;
    }

    .title-white-small {
        font-size: 20px;
    }
}