.footer{
    background-color: #024248;
    color: white;
    position: relative;
    z-index: 999;
}

.padding-3rem{
    padding: 3rem;
}

.container-medium{
    max-width: 1200px;
    margin: auto;
}

.wrapper-logo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.redes-sociais{
    display: flex;
    gap: 1rem;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.list-footer{
    list-style: none;
    padding: 0;
    color: white;
    font-size: 14px;
    line-height: 150%;
    margin-top:10px ;
}

.link-footer{
    color: white !important;;
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
}

.ul-footer{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.rodape{
    background-color: #02333A;
    padding: 20px 20px;
}

.link-rodape{
    text-decoration: solid;
    color: white;
    font-weight: 100;
    font-size: 12px;
}

.link-rodape:focus{
    color: white !important;
}

.line-footer{
    border-top: 1px solid #006969;
    margin: 1rem auto;
    max-width: 1142px;
    width: 100%;
}

.wrapper-links-rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.line-link{
    color: white;
    width: 1px;
    height: 20px;
}

.p-footer{
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
}

/* Estilização da logo no footer */
.footer-logo {
	max-width: 220px; /* Limita a largura */
	height: auto; /* Mantém a proporção */
	display: block;
	object-fit: contain; /* Evita cortes */
}

li a.link-footer:hover {
    color: white !important;
    text-decoration: underline !important;
}

@media (max-width: 768px){
    .grid-3{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .wrapper-links-rodape{
        flex-direction: column;
        gap: 0;
    }

    .padding-3rem{
        padding: 3rem 0;
    }

    .wrapper-logo-footer{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: flex-start;
    }
}