.tag-icon-label{
    background-color:#007D7A;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: white;
    border-radius: 24px;
    padding: 4px 12px;
    height: 24px;
}

.material-symbols-outlined{
    font-size: 15px;
}

.small{
    height: 24px;
}

.medium{
    height: 32px;
}

.secundary{
    background-color: #ffff;
    color: #007D7A;
    border: 1px solid #007D7A;
}

.terciary{
    color: #007D7A;
    cursor: pointer;
}