[bumpversion]
current_version = 0.5.4
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = current_version = "{current_version}"
replace = current_version = "{new_version}"

[bumpversion:file:src/telegram_download_chat/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
