.enap-dropdown {
  float: left;
  overflow: hidden;
}

.enap-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  justify-content: space-between;
}

.enap-dropdown-label {
  font-size: 14px;
  color: #434A54;
  margin: 0;
}

.enap-dropdown .enap-dropdown-button {
  cursor: pointer;
  width: 320px;
  background-color: white;
  border: 1px solid #C8D1E0;
  font-size: 16px;  
  color: #58606E;
  padding: 12px 8px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material-symbols-outlined {
  color: #007D7A;
}

.enap-dropdown-content a {
  text-decoration: none;
  color: #58606E;
}

.enap-dropdown-content a:hover {
  color: #58606E;
  background-color: #EBEFF5;
}

.enap-dropdown-content a:focus {
  color: white;
  background-color: #025257;
}

.navbar a:hover, .enap-dropdown:hover .enap-dropdown-button, .enap-dropdown-button:focus {
  color: #58606E;
}

.enap-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 320px;
}

.enap-dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.enap-dropdown-content a:hover {
  background-color: #EBEFF5;
}

.enap-dropdown-content a:active {
  background-color: #025257;
  color: white;
}

.enap-dropdown-show {
  display: block;
}