.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;
}

/* Diferentes tamanhos de modal */
.modal-size-small {
    width: 300px;
    max-width: 90%;
}

.modal-size-medium {
    width: 500px;
    max-width: 90%;
}

.modal-size-large {
    width: 800px;
    max-width: 90%;
}

.modal-body-modal{
    color: #707A8B;
    font-size: 16px;
}

.close {
    color: #333840;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.modal-title {
    color: #333840; 
    font-size: 24px; 
    margin: 0 0 15px 0;
    padding-right: 30px;
    font-weight: 600px;
}

.wrapper-button-rigth {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-action-button {
    background-color: #007D7A;
    color: white;
    border: none;
    padding: 8px 48px;
    border-radius: 40px;
    cursor: pointer;
}

.modal-action-button:hover {
    background-color: #006969;
}

.modal-open-button {
    padding: 10px 15px;
    background-color: #007D7A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-open-button:hover {
    background-color: #006969;
}

/* Estilos para o formulário */
.modal-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input .form-control-text {
    width: 100%;
    padding: 10px;
    color: #58606E;
    border: 1px solid #C8D1E0;
    border-radius: 0px;
    font-size: 18px;
    color: #333840;
}

textarea.form-control-textarea {
    resize: vertical;
    min-height: 100px;
    width: 100%;
    color: #58606E;
    border: 1px solid #C8D1E0;
    font-size: 18px;
}

placeholder{
    color: #333840;
}

/* Responsividade */
@media (max-width: 768px) {
    .modal-content {
        margin: 150px auto 0;
        width: 90% !important;
    }
}